<div id = "order-container">

<div class="cart">

    <span class="list-name"><%= pizza.title %></span>
    <% if(size==='small_size') {%>
    <span class="list-name"> (МАЛА) </span>
    <%} else if(size==='big_size') {%>
        <span class="list-name"> (ВЕЛИКА) </span>
    <%}%>
    <div>Ціна: <%= pizza[size].price %> грн.</div>
    <div class="order">
        <div class="gabarits">
        <img src="assets/images/weight.svg"><%=pizza[size].weight%>
        <img src="assets/images/size-icon.svg"><%=pizza[size].size%><br>
        </div>

        <button class="btn btn-danger minus">-</button>
        <span class="label label-default"><%= quantity %></span>
        <button class="btn btn-success plus">+</button>
        <button class="btn remove"><span class = "glyphicon glyphicon-remove"></span></button>
        <div class="cart-pizza-img">
        <img src=<%=pizza.icon%>>
        </div>
    </div>
    <hr>

</div>


</div>