<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>
<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail">
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">

        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span class="label label-success">Популярна</span>
        <% } %>

        <div class="caption">
            <span class="title"><%= pizza.title %></span>
            <div class="type"><%= pizza.type %></div>
            <div class="description">
                <%= getIngredientsArray(pizza).join(", ") %>
            </div>
            <div class="info">
            <% if(pizza.hasSmallSize) { %>
                <img src="assets/images/size-icon.svg" class="size-small"><%= pizza.small_size.size %><% } %><br>
            <% if(pizza.hasSmallSize) { %>
                <img src="assets/images/weight.svg" class="weight-small"><%= pizza.small_size.weight %><% } %><br>
            <% if(pizza.hasSmallSize) { %>
                <span class="price-small"><%= pizza.small_size.price %></span><% } %><br>
            <% if(pizza.hasSmallSize) { %>
                 <button class="btn btn-warning buy-small">Купити малу</button><br>
                <% } %>

            </div>

            <div class="info">
            <% if(pizza.hasBigSize) { %>
            <img src="assets/images/size-icon.svg" class="size-big"><%= pizza.big_size.size %><% } %><br>


            <% if(pizza.hasBigSize) { %>
                <img src="assets/images/weight.svg" class="weight-big"><%= pizza.big_size.weight %><% } %><br>

            <% if(pizza.hasBigSize) { %>
                <span class="price-big"><%= pizza.big_size.price %></span><% } %> <br>

            <% if(pizza.hasBigSize) { %>
                <button class="btn btn-warning buy-big">Купити велику</button><br>
                <% } %>
            </div>





        </div>
    </div>
</div>